body{
  height: 100vh;
  width: 100vw;
}

p{
  margin: 0;
  padding: 0;
  font-family: "Mea Culpa", serif;
  font-weight: 400;
  font-style: normal;
}

.title{
  font-size: 40px;
}

.intro{
  font-size: 20px;
}


.main-div{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-button{
  margin-top: 20px;
  border:none;
  padding: 5px 20px 5px 20px;
  font-size: 30px;
  font-family: "Mea Culpa", serif;
  background-color: rgb(238, 196, 81);
  cursor: pointer;
  transition: background-color ease 0.5s;
}

.order-button:hover{
  background-color: black;
  color:rgb(238, 196, 81);
}